{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <title>Document</title>
</head>
<body>
    <center>
        <marquee><h1>
            I Am Inserting Images and adding Css properties
        </h1></marquee>
       <div id="b"><img src="{% static 'images/shailesh raj.jpg' %}" alt="Jspiders">
       <img src="{% static 'images/shailesh raz.jpg' %}" alt="jspiders"></div>
    </center>

</body>
</html>